@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 62.5%; }
body { font-size: 1.8rem; }

:root {
    --primary-color:#38A6FF;
    --secondary-color:#115D8C;
    --border-color:rgba(129, 129, 129, 0.5);
    --footerBackground-color:linear-gradient(355.31deg, #38A6FF 50.1%, rgba(56, 166, 255, 0.19) 96.31%);
    --white-color:#FFFFFF;
    --headers-text-style:'Montserrat', Bold, sans-serif;
    --coomon-text-style:'Montserrat', Regular, sans-serif;
    --button-text-style:'Montserrat', Semiold, sans-serif;
    --label-text-color:#818181;
    --input-form-hover:#D99230
}

.mainPageContainer {
    max-width: 1512px;
    margin: 0 auto;
    background: var(--white-color);
    height: 100vh;
}

.wrapperErrorPage {
    max-width: 1512px;
    margin: 0 auto;
    height: 100vh;
}

header {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 160px 204px;
    justify-content: space-between;
    padding-bottom: 4px;
    padding-top: 4px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: var(--white-color);
    z-index: 1;
    padding-left: 2%;
    padding-right: 2%;
    position: sticky;
    top: 0;
}

.logoBlockInHeader {
    display: flex;
}

.logoBlockInHeader img {
    width: 56px;
    height: 56px;
}

.trotterInHeader {
    margin-left: 8px;
    margin-top: 18px;
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--primary-color);
    cursor: pointer;
}

.logInButton {
    max-width: 96px;
    margin-top: 15px;
    padding: 8px 25px 8px 26px;
    background: var(--primary-color);
    border-radius: 30px;
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

.hidden {
    display: none;
}

.logInButton:hover {
    background-color: var(--secondary-color) ;
}

.trotterInHeader:hover {
    color: var(--secondary-color);
}

.headerUserBlock {
    display: grid;
    grid-template-columns: 32px 121px 24px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}


.headerUserBlock img:first-child {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.headerUserBlock h4 {
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
    line-height: 22px;
    text-align: center;
}

.buttonLoginOut img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 3px;
}

.mainBlock {
    display: flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.mainBlockTrotteList {
    width: 75%;
    overflow: auto;
}

.mainBlockTrotteListWrapper {
    border-bottom: 1px solid var(--border-color);
}

.mainBlockTrotteListTrotter {
    border-bottom: 1px solid var(--border-color);
}

.mainBlockTrotteList h2 {
    margin-top: 1.5%;
    font-family: var(--headers-text-style);
    font-size: 3rem;
    line-height: 39px;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}

.mainBlockTrotteListContainer {
    width: 62%;
    margin: 3% auto 0%;
}

.photoInput {
    display: flex;
    align-items: center;
}

.addComment {
    display: flex;
    align-items: center;
}

.addComment img {
    width: 8%;
    border-radius: 50%;
    display: block;
}

.addComment input {
    display: block;
    margin-left: 2.3%;
    border: none;
    height: 3%;
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    line-height: 22px;
    width: 100%;
}

.toLogInInRegistration {
    cursor: pointer;
}

.redirectToRegistration {
    cursor: pointer;
}

.photoInput img {
    width: 8%;
    border-radius: 50%;
    display: block;
}

.photoInput input {
    display: block;
    margin-left: 2.3%;
    border: none;
    height: 3%;
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    line-height: 22px;
    width: 100%;
}

.inclosureAndInput {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 100%;
}

.inclosureAndInput .inclosure {
    margin-left: 10%;
    width: 25%;
    margin-bottom: 3%;
}

.inclosureAndInput .inclosure img {
    width: 12%;
    margin-right: 6%;
}

.buttonWhichAddNewTweetInList {
    border-radius: 30px;
    padding: 1% 3.7% 1% 3.7%;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    margin-bottom: 2.2%;
    width: 15%;
    font-family: var(--button-text-style) ;
    font-size: 1.6rem;
    margin-left: 10%;
    cursor: pointer;
}

.buttonWhichAddNewTweetInList:hover {
    background-color: var(--secondary-color);
}

.mainBlockTrotteListTrotter .container {
    width: 62%;
    margin: 1.5% auto 0%;

}

.container {
    display: grid;
    grid-template-columns: 10% 90%;
}

.wrapperUserPhoto img {
    width: 80%;
    border-radius: 50%;
}

.mainBlockTrotteListTrotter .userInfo {
    display: flex;
    position: relative;
}

.mainBlockTrotteListTrotter .userInfo h3 {
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
    line-height: 22px;
}

.mainBlockTrotteListTrotter .userInfo h4{
    margin-left: 7%;
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    line-height: 22px;
    color: #818181;
    font-weight: 400;
}

.correctTrotterBlock {
    position: absolute;
    background-color: #ececec;
    transform: translate(35%,-30%);
    padding: 1%;
    border-radius: 10%;
    display: none;
    font-size: 1.5rem;
    width: 500%;
}

.correctTrotterBlock li {
    display: flex;
    }

.correctTrotterBlock img {
    width: 27%;
}

.correctTrotterBlock li:last-child {
    margin-top: 9%;
}

.mainBlockTrotteListTrotter .userInfo h4:last-child {
    margin-left: 1.3%;
}

.trotter {
    position: relative;
}

.trotter .trotterText {
    margin-top: 1%;
    font-family: var(--coomon-text-style);
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 22px;
}

.trotter .trotterText span {
    color: var(--primary-color);
}

.trotter .response {
    margin-top: 4%;
}

.response ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 4%;
}

.response ul li {
    margin-left: 64px;
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    color: #818181;
    position: relative;
    width: 7%;
}

.response ul li:first-child {
    margin-left: 7%;
}

.response ul li:first-child::before {
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    background-image: url("./assets/response_message.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-120%, 0%);
}

.response ul li:first-child:hover:before {
    cursor: pointer;
    background-image: url("./assets/response_message_hover.svg");
}

.response ul li:nth-child(2)::before {
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    background-image: url("./assets/response_likes.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-100%, 0%);
}

.response ul li:nth-child(2):hover:before {
    cursor: pointer;
    background-image: url("./assets/response_likes_hover.svg");
}

.response ul li:last-child::before {
    content: "";
    width: 100%;
    height: 130%;
    position: absolute;
    background-image: url("./assets/response_retrote.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-100%, -10%);
}

.response ul li:last-child:hover:before {
    background-image: url("./assets/response_retrote_hover.svg");
    cursor: pointer;
}

.correctTrotter {
    right: 0;
    background: transparent;
    border: none;
    font-family: var(--headers-text-style);
    font-size: 2.4rem;
    cursor: pointer;
    position: absolute;
}

.moreTrotter {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    color: #818181;
    font-weight: 400;
    position: relative;

}

.moreTrotter::after {
    content: '';
    background-image: url("./assets/seeMore.svg");
    position: absolute;
    width: 4%;
    height: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(43%);
    cursor: pointer;
}

.filtrationBlock {
    border-left: 1px solid var(--border-color);
}

footer {
    background: var(--footerBackground-color);
    display: flex;
    padding-left: 4%;
    padding-top: 3%;
    align-items: center;
    padding-bottom: 5%;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.logoInFooter {
    display: flex;
    align-items: center;
}

.logoInFooter img {
    width: 31%;
    height: 99%;
}

.logoInFooter h2 {
    margin-left: 5% ;
    color: var(--white-color);
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
    text-transform: uppercase;
}

.howAndWhen {
    margin-left: 4%;
}

.howAndWhen p {
    color: var(--white-color);
    font-family: var(--headers-text-style);
    font-weight: 700;
    font-size: 1.8rem;
}

.howAndWhen p:last-child {
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 8%;
}

.mailInFooter {
    margin-left: 2%;
    color: var(--white-color);
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    font-weight: normal;
}

.filtrationBlock {
    padding-left: 1.6%;
    padding-right: 1.6%;
    padding-bottom: 3%;
    width: 25%;
}

.filtrationBlockContainer form {
    display: grid;
}

.filtrationBlockContainer {
    margin-top: 19%;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 20px;
    padding-right: 4%;
    padding-left: 4%;
}

.filtrationBlockContainer h2 {
    margin-top: 3%;
    font-family: var(--headers-text-style);
    font-size: 3.2rem;
}

.filtrationBlockContainer form {
    margin-top: 10%;
}

.filtrationBlockContainer label {
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
}

.filtrationBlockContainer input {
    display: block;
    margin-top: 5%;
    width: 100%;
    background: #EFF3F4;
    border-radius: 30px;
    border: none;
    padding: 1% 0% 1% 6%;
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
}

.filtrationBlockContainer input:first-child {
    margin-bottom: 3%;
}

.filtrationBlockContainer input:nth-child(1) {
    margin-bottom: 5%;
}

.filtrationBlockContainer input:nth-child(2) {
    margin-bottom: 5%;
}

.filtrationBlockContainer label:last-child {
    margin-bottom: 20%;
    margin-top: 5%;
}

.filtrationBlockContainer h3 {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
}

.filtrationBlockContainer form label:nth-child(4) {
    color: #818181;
    font-weight: 300;
}

.filtrationBlockContainer form label:nth-child(3) {
    color: #818181;
    font-weight: 300;
}




/*Styles for trotter page*/

.trotterContainer {
    max-width: 1512px;
    margin: 0 auto;
    background: var(--white-color);
    height: 100vh;
}

.backInMain {
    display: flex;
    width: 62%;
    margin: 1% auto;
    align-items: center;
}

.backInMain a {
    width: 5%;
    cursor: pointer;
}

.backInMain img {
    width: 96%;
    margin-top: 43%;
}

.backInMain h2 {
    margin-left: 2%;
}

.trotter>img {
    width: 95%;
    margin-top: 5%;
}

.reTrott {
    color: #818181;
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    font-weight: 300;
}

.reTrott span {
    color: var(--primary-color);
}


.humanSearch {
    display: block;
    border: none;
    margin-top: 2%;
    max-width: 20rem;
}

label.humanSearch:last-child {
    margin-bottom: 7%;
}

.authorSearch {
    border: none;
}

.clearFilter {
    display: block;
    margin-bottom: 5%;
    padding: 3% 5% 3% 5%;
    min-width: 100%;
    border-radius: 1rem;
    border: none;
    color: #FFFFFF;
    background-color: var(--primary-color);
    font-family: var(--button-text-style);
    font-size: 1.7rem;
    cursor: pointer;
}

.clearFilter:hover {
    background-color: var(--secondary-color);
}

.hashSearch {
    display: block;
    border: none;
    margin-top: 2%;
    max-width: 20rem;
}

.hashtagsSearch {
    display: block;
    border: none;
    margin-top: 2%;
}

.mainBlock .styleForUndefined {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: var(--headers-text-style);
    color: black;
    text-align: center;
}

.containerLogin {
    max-width: 1512px;
    margin: 1% auto;
    display: grid;
    grid-template-columns: 32% 68%;
    box-shadow: 10px 5px 40px 12px rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
}

.wrapperloginBackground {
    background-image: url('assets/LogInBackend.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.wrapperLoginForm {
    padding: 20% 22% 68% 22%;
}

.wrapperForLogo {
    width: 41%;
    margin: 0 auto;
}

.headingInLogin {
    text-align: center;
    margin-top: 9%;
    font-family: var(--headers-text-style);
    font-size: 4.7rem;
    position: relative;
}

.formInRegPage {
    margin-top: 23%;
}

.formInLoginPage {
    margin-top: 23%;
}

.formInRegPage label {
    color: var(--label-text-color);
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
    font-weight: 700;
}

.formInLoginPage label {
    color: var(--label-text-color);
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
    font-weight: 700;
}

.formInRegPage input {
    display: block;
    margin-top: 6%;
    border: none;
    border-bottom: 1px solid rgba(129, 129, 129, 0.5);
    margin-bottom: 6%;
    width: 100%;
    padding-bottom: 3%;
}

.formInLoginPage input {
    display: block;
    margin-top: 6%;
    border: none;
    border-bottom: 1px solid rgba(129, 129, 129, 0.5);
    margin-bottom: 6%;
    width: 100%;
    padding-bottom: 3%;
}

::-webkit-input-placeholder {
    color: rgba(129, 129, 129, 0.5);
    font-family: var(--coomon-text-style);
    font-size: 1.7rem;
}

.buttonLOgIn {
    width: 100%;
    margin-top: 10%;
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 3% 10% 3% 10%;
    border: none;
    border-radius: 2rem;
    font-family: var(--button-text-style);
    font-size: 1.5rem;
    font-weight: 700;
}

.wrapperLoginForm a {
    display: block;
    text-align: center;
    margin-top: 12%;
    text-decoration: none;
    font-family: var(--coomon-text-style);
    font-size: 1.8rem;
    color: var(--primary-color);
}

.wrapperLoginForm a:visited {
    color: var(--secondary-color);
}

.formInLoginPage input:focus {
    outline: none !important;
    border:0.2rem solid var(--input-form-hover);
    border-radius: 0.3rem;
}

.formInRegPage input:focus {
    outline: none !important;
    border:0.2rem solid var(--input-form-hover);
    border-radius: 0.3rem;
}

.buttonLOgIn:hover {
    background-color: var(--secondary-color);
}

.wrapperForRegistration {
    display: grid;
    grid-template-columns: 37% 63%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 10px 5px 40px 12px rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    margin-top: 3%;
}

.wrapperForYouAreBack {
    border-right: 0.1rem solid var(--label-text-color);
}

.backgroundRegistration {
    height: 33rem;
    background-image: url("./assets/BackgroundRegistration.svg");
    background-position: top;
}

.youComeBack {
    text-align: center;
    margin-top: 14%;
    font-family: var(--headers-text-style);
    font-size: 3.2rem;
}

.comeIn {
    max-width: 16.5rem;
    margin: 1rem auto;
    text-align: center;
    font-family: var(--headers-text-style);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2;
}

.comeIn a {
    color: #38A6FF;
    text-decoration: none;
}

.headingInRegistration {
    font-family: var(--headers-text-style);
    font-size: 4.8rem;
    margin-top: 10rem;
    text-align: center;
    color: vAR(--primary-color);
    margin-bottom: 8.8rem;
}

.comeIn a:hover {
    color: var(--secondary-color);
}

.wrapperForRegistrationForm {
    padding-left: 30%;
    padding-right: 30%;
}


.createAc {
    margin-top: 30%;
    text-align: center;
    max-width: 25.8rem;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--headers-text-style);
    font-size: 4.8rem;
    position: relative;
}

.registrationButton {
    width: 100%;
    margin-top: 10%;
    background-color: var(--primary-color);
    color: #FFFFFF;
    padding: 3% 10% 3% 10%;
    border: none;
    border-radius: 2rem;
    font-family: var(--button-text-style);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.registrationButton:hover {
    background-color: var(--secondary-color);
}

.unvisibleBlock {
    display: none;
}

.visibleBlock {
    display:block !important ;
}

.badRequest {
    display: none;
    position: absolute;
    max-width: 100%;
    color: red;
    font-family: var(--button-text-style);
    text-align: center;
    transform: translate(10%,70%);
}

.accessReg {
    display: none;
    position: absolute;
    max-width: 100%;
    color: #02e102;
    font-family: var(--button-text-style);
    text-align: center;
    transform: translate(0%,0%);
}

.wrapperForBackError {
    background-image: url("./assets/backInErrorPage.svg");
    width: 100%;
    height: 89.8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


